<section class="skills" id="skills">
    <h2 class="header"> Skills <span> Technology </span> </h2>

    <div class="skills-container">
        <div class="skills-box">
            <i class='bx bx-code-alt'></i>
            <h3>AngularJS</h3>
            <h3>Web<span> Design</span></h3>
            <p>Angular is programmed to use for front-end development. However, you may use it for backside support. Angular is one of the most popular frameworks for web and mobile development</p>

            <a href="#" class="btn">Read More</a>
        </div>

        <div class="skills-box">
            <i class='bx bxl-java'></i>
            <h3>CoreJava</h3>
            <h3>Software<span> Development</span></h3>
            <p>It is a part of the Java programming language that one can use for developing or creating a general-purpose app. Its main focus is to build such general applications. The J2SE (Java Standard Edition) is known as Core Java.</p>

            <a href="#" class="btn">Read More</a>

        </div>
        <div class="skills-box">
            <i class='bx bxl-spring-boot'></i>
            <h3>SpringBoot</h3>
            <h3>Fucntion<span> Logic code </span></h3>
            <p>Spring Boot gives an easier, quicker path to set up, configure, and run apps. It eliminates the heavy lifting of configuration that is required for setting up most Spring-based apps. Developers can jump right in and use Spring Boot without ever having to learn the underlying Spring framework</p>

            <a href="#" class="btn">Read More</a>

        </div>

        <!-- <div class="skills-box">
    <i class='bx bx-paint' ></i>
    <h3>Web<span>  Page Design </span></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi soluta odio sed, adipisci natus non dolorum error rem tempora nemo consectetur!</p>

    <a href="#" class="btn">Read More</a>

</div> -->

        <div class="skills-box">
            <i class='bx bxs-data'></i>
            <h3>MySQL</h3>
            <h3>DataBase<span> SQL </span></h3>
            <p>MySQL is a relational database management system based on SQL – Structured Query Language. The application is used for a wide range of purposes, including data warehousing, e-commerce, and logging applications. The most common use for mySQL however, is for the purpose of a web database.</p>

            <a href="#" class="btn">Read More</a>

        </div>
    </div>
</section>