<section class="about" id="about">
    <div class="about-img">
        <img src="../../../assets/IMG_20220623_113527.jpg"  height="400px">

    </div>
    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3> Full Stack Developer! </h3>
        <h4>Frontend and Backend Developer</h4>
        <p>I'm a full stack web developer  person who can develop both client and server software. In addition to mastering HTML and CSS and I knows how to usse : Program a browser (like using JavaScript, jQuery, Angular, or Vue) Program a server (like using SpringBoot, SQL, Java, or Node)</p>
        <a href="#" class="btn">Read More </a>
    </div>
</section>